[Desktop Entry]
Encoding=UTF-8
Name=Enlace hacia Camera2Basic | Android Developers
Type=Link
URL=https://developer.android.com/samples/Camera2Basic/index.html
Icon=text-html
